body {
  background-image: url(assets/night.gif);
  margin: 0;
}
p {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #a491b6;
}
a {
  color:white;
  font-family:'Courier New', Courier, monospace;
  background-color: gray;
}
#content {
  margin: 10vh;
  background-color: #1f112b88;
}
#enter {
  height: 7vh;
  cursor: pointer
}
.title {
  height:10vh
}
.blinkie {
  height: 4vh;
}
.center {
  text-align: center;
}
.medium {
  font-size: 3vh;
}
.bread {
  width: 40vh;
}
